<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork"
{% if post.image.feature %}style="background-image: url('{{ site.url }}/assets/images/{{ post.image.feature }}');"{% endif %}
>

<a class="btn   btn--archive  archive__item-body" href="{{ site.url }}{{ post.url }}">

    <h6 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h6>

    <small class="archive__item-excerpt" itemprop="text">
      {{ post.excerpt }}
    </small>

    <svg class="icon  icon--next">
      <use xlink:href="#icon-next" />
    </svg>

</a>

</article>
