<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork"
{% if post.image.feature %}style="background-image: url('{{ site.url }}/assets/images/{{ post.image.feature }}');"{% endif %}
>

  <div class="archive__item-body">

    <h5 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h5>

    <p class="archive__item-excerpt" itemprop="text">
      {{ post.excerpt }}
    </p>

    <a class="btn btn--default" href="{{ site.url }}{{ post.url }}">
      A ver...
    </a>

  </div>

</article>
