<footer id="colophon" class="colophon">

  <nav class="container">

    <p class="colophon__copyright">

      <svg class="icon"><use xlink:href="#icon-matrioska" /></svg>
      <a href="{{ site.url }}/humans.txt">
        Soy un ser humano
      </a>
      <a href="{{ site.owner.github-repo }}" title="view source on GitHub" rel="nofollow"> · Repositorio</a>

      {% for link in site.data.navigation.colophon-menu %}
        <a href="{{ site.url }}{{ link.url }}"> · {{ link.title }}</a>
      {% endfor %}

    </p>

  </nav>

</footer>
