<aside class="Widget Widget--list">

  <h3 class="Widget__title">Conocimientos</h3>

  <dl class="Widget__list">
    <dt> Ideación visual y prototipado </dt>
    <dd> Diseño Web UI / Gráfico </dd>
    <dd> Diseño de interacción </dd>
    <dd> Bellas Artes </dd>
    <dd> Arquitectura de Información </dd>
    <dd> Retoque Fotográfico </dd>
    <dd> Diseño Editorial </dd>
  </dl>

  <dl class="Widget__list">
    <dt> Desarrollo web </dt>
    <dd> HTML / CSS </dd>
    <dd> Javascript / ES2015 </dd>
    <dd> React JS </dd>
    <dd> Git / Github </dd>
    <dd> Gulp, NPM </dd>
    <dd> Sass </dd>
  </dl>

  <dl class="Widget__list">
    <dt> Otros </dt>
    <dd> Firebase (BaaS) </dd>
    <dd> Wordpress </dd>
    <dd> Motores de plantillas </dd>
    <dd> Línea de Comandos (CLI) </dd>
    <dd> Wordpress API REST </dd>
    <dd> Rich Snippets </dd>
  </dl>
  
</aside>
