<aside class="Widget Widget--list">

  <h3 class="Widget__title">Habilidades</h3>

  <dl class="Widget__list">
    <dt>Diagramación de presentación</dt>
    <dd> Sketching en papel </dd>
    <dd> Sketch / Principle </dd>
    <dd> Axure RP </dd>
    <dd> Wireframes / Diagramas de Flujo </dd>
    <dd> Style Guides </dd>
  </dl>

  <dl class="Widget__list">
    <dt>Maquetación y diseño</dt>
    <dd> HTML + CSS (Sass) </dd>
    <dd> Diseño de Interacción </dd>
    <dd> Ilustración </dd>
    <dd> Mockups </dd>
    <dd> Demos de producto </d  d>
  </dl>

  <dl class="Widget__list">
    <dt>Otros</dt>
    <dd> Adaptabidddad </dd>
    <dd> Aprendo rápido </dd>
    <dd> Buenas prácticas </dd>
    <dd> Gestión de proyectos </dd>
    <dd> Diseño Gráfico </dd>
  </dl>

</aside>
