<div>

  {% include base_path %}
  {% if page.introText %}

  {% assign intro = page.introText %}

    {% for i in intro %}

      <article class="IntroText">

        {% if i.header %}<h2> {{ i.header }} </h2> {% endif %}
        {% if i.description %}<h3> {{ i.description }} </h3> {% endif %}
        {% if i.p %}<p> {{ i.p }} </p> {% endif %}
        {% if i.small %}<small> {{ i.small }} </small> {% endif %}

        <dl>
        {% for list in i.list %}
          <dt>{{ list.title }}</dt>
          <dd>{{ list.item }}</dd>
        {% endfor %}
        </dl>

        {% if i.image_path %}
          <img src="{{i.image_path | prepend: "/assets/images/" | prepend: base_path}}" alt="{%if i.image_description %}{{i.image_description}}{%endif%}">
        {% endif %}

      </article>

    {% endfor %}

  {% endif %}

</div>
