<header>

  <h1 class="page-title">{{ page.title }}</h1>

  {% include base_path %}
  {% if page.introText %}

  {% assign intro = page.introText %}

    {% for i in intro %}

      <article class="IntroText">

        <h2> {{ i.header }} </h2>
        <h3> {{ i.description }} </h3>
        <p> {{ i.p }} </p>
        <small> {{ i.small }} </small>

        <dl>
        {% for list in i.list %}
          <dt>{{ list.title }}</dt>
          <dd>{{ list.item }}</dd>
        {% endfor %}
        </dl>

        {% if i.image_path %}
          <img src="{{i.image_path | prepend: "/assets/images/" | prepend: base_path}}" alt="{%if i.image_description %}{{i.image_description}}{%endif%}">
        {% endif %}

      </article>

    {% endfor %}

  {% endif %}

</header>
