<header id="logo-scroll" class="masthead">

  <nav>
    <ul class="masthead__menu">
      {% for link in site.data.navigation.navleft %}
        <li>
          <a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item
          {% unless page.url contains link.url %} active {% endunless %}
          ">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% include brand.html %}

  <nav>
    <ul class="masthead__menu">
      {% for link in site.data.navigation.navright %}
        <li>
          <a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item
          {% unless page.url contains link.url %} active {% endunless %}
          ">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

</header>
