<header class="page__hero  page__hero--bg"
{% if page.image.teaser %}style="background-image: url('{{ site.url }}/assets/images/{{ page.image.teaser }}');"{% endif %} markdown="1">

  <h1 class="page__hero-title">
    {{ page.subtitle }}
  </h1>

  {% if page.excerpt %}
    <h2 class="page__hero-description">
      {{ page.excerpt }}
    </h2>
  {% endif %}

  <!-- {% capture my-include %}{% include code.md %}{% endcapture %}
  {{ my-include | markdownify }} -->

  {% if page.cta %}
  <a class="btn" href="{{ site.url }}{{ page.cta.cta_url }}">
    {{ page.cta.cta_label }}
  </a>
  {% endif %}

</header>
