<div class="Related">

  <h3 class="Related__header">Relacionado</h3>

  <div class="Related__tiles">

    {% for post in site.related_posts limit:6 %}

      <figure class="Related__tiles__item" itemscope itemtype="http://schema.org/CreativeWork">

          <img src="{{ site.url }}/assets/images/{% if post.image.teaser %}{{ post.image.teaser }}{% else %}{{ site.teaser }}{% endif %}" itemprop="image" alt="{{ post.title }}">

          <figcaption>
            <a href="{{ site.url }}{{ post.url }}">
              <meta itemprop="text" content="{{ post.excerpt | strip_html }}">
              <p class="tile__title" itemprop="headline">
                {{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}
              </p>
            </a>
          </figcaption>

        {% if post.categories %}
          {% assign category_slug = post.categories | first %}
          {% assign category = site.data.slugs[category_slug] %}
        {% endif %}

      </figure>

    {% endfor %}

  </div>

</div>
