<div class="slider-wrap">

  <h3 class="slider-title"> Perfil personal </h3>

  <ul class="slider">
    <li> Adaptabilidad a nuevos ambientes y cambios. </li>
    <li> Habilidad para conectar conocimientos sobre varios campos diferentes que me motivan. </li>
    <li> Genero contenidos y pensamientos propios aunando conciencia, arte, diseño y desarrollo web en un proceso unificado vivo y profundo que he llamado <a href="{{ site.url }}/articles/todh">TODH</a> (Transmitir, Observar, Definir, Hacer).
    <li> Tengo una visión de contribución, cumplo mis objetivos ayudando a otros a cumplir los suyos. </li>
    <li> Invierto constantemente tiempo y energía en mi desarrollo y fortalecimiento personal para brindar a los demás mi mejor versión. </li>
    <li> Soy consciente de que en cada instante puedo elegir. </li>
    <li> Entiendo el éxito no como un destino, sino como un proceso de vida que tiende a completarse en todas las cosas desde que nacen. Se trata de descartar todo lo que sobra. </li>
    <li> Soy creativo, altamente inventivo, intuitivo, capaz de producir ideas disruptivas e innovadoras. Con sensibilidad y talento artístico. </li>
    <li> Colaboro y aporto complementariedad en equipo. </li>
    <li> Consciente de mis limitaciones pido ayuda cuando realmente la necesito. Suelo disponer de recursos para salir adelante en cualquier situación y si no los tengo se buscarlos. </li>
    <li> Reconozco que mi poder no está en el ejercicio del control sino en la libertad de responder constructivamente ante cualquier circunstancia. </li>
    <li> Alineado con las nuevas tecnologías. Comprendo cómo y porqué funcionan muchas de ellas. Con una curva de aprendizaje alta, aprendo y asimilo rápido. Capaz de utilizar herramientas para resolver diferentes problemas. </li>
    <li> Autodidacta y altamente comprometido con el aprendizaje contínuo. Capaz de aprender y desaprender con facilidad en función de mis inquietudes. </li>
    <li> Acepto el fracaso como un “mal” necesario para mi propio crecimiento. Comprendo que la única forma de aprender es haciendo y experimentando con atención plena. Me equivoco y me asaltan miedos, pero logro transmutarlos. </li>
    <li> Mi concepción del entorno no conoce fronteras. No entiendo de límites geográficos, políticos, sociales, económicos, culturales... </li>
    <li> Siempre conectado. Mi mundo está formado por muchos mundos sin importar su contexto. </li>
    <li> Poseo una motivación intrínseca; estoy motivado a actuar desde mis más internos deseos, en lugar de buscar el reconocimiento o las recompensas externas. </li>
  </ul>

</div>
