<ul class="social">

  {% if site.owner.github %}
    <li>{% include icon-github.html username=site.owner.github %}</li>
  {% endif %}

  {% if site.owner.twitter %}
    <li>{% include icon-twitter.html username=site.owner.twitter %}</li>
  {% endif %}

  {% if site.owner.facebook %}
    <li>{% include icon-facebook.html username=site.owner.facebook %}</li>
  {% endif %}

  {% if site.owner.codepen %}
    <li>{% include icon-codepen.html username=site.owner.codepen %}</li>
  {% endif %}

  {% if site.owner.linkedin %}
    <li>{% include icon-linkedin.html username=site.owner.linkedin %}</li>
  {% endif %}

  {% if site.owner.tumblr %}
    <li>{% include icon-tumblr.html username=site.owner.tumblr %}</li>
  {% endif %}

  {% if site.owner.youtube %}
    <li>{% include icon-youtube.html username=site.owner.youtube %}</li>
  {% endif %}

  {% if site.owner.instagram %}
    <li>{% include icon-instagram.html username=site.owner.instagram %}</li>
  {% endif %}

  {% if site.owner.pinterest %}
    <li>{% include icon-pinterest.html username=site.owner.pinterest %}</li>
  {% endif %}

  {% if site.owner.flickr %}
    <li>{% include icon-flickr.html username=site.owner.flickr %}</li>
  {% endif %}

  {% if site.owner.medium %}
    <li>{% include icon-medium.html username=site.owner.medium %}</li>
  {% endif %}

  {% if site.owner.theartstack %}
    <li>{% include icon-theartstack.html username=site.owner.theartstack %}</li>
  {% endif %}

</ul>
