
  {% include base_path %}
  {% if page.introText %}

  {% assign intro = page.introText %}

    {% for i in intro %}

      <article class="IntroText">
        {% if i.icon_bg %}
        <svg class="icon  icon--{{ i.icon_bg}}"><use xlink:href="#icon-{{ i.icon_bg}}" /></svg>
        {% endif %}
        {% if i.header %}
          <h1 class="IntroText__title"> {{ i.header }} </h1>
        {% endif %}
        {% if i.description %}
          <h3 class="IntroText__subtitle"> {{ i.description }} </h3>
        {% endif %}
        {% if i.p %}
          <p> {{ i.p }} </p>
        {% endif %}
        {% if i.small %}
          <small> {{ i.small }} </small>
        {% endif %}

        <a class="btn btn--warning" href="{{ site.baseurl }}/{{ i.url }}/">
          + info
        </a>

        {% if i.list == true %}
        <dl>
        {% for list in i.list %}
          <dt>{{ list.title }}</dt>
          <dd>{{ list.item }}</dd>
        {% endfor %}
        </dl>
        {%endif%}

        {% if i.image_path %}
          <img src="{{i.image_path | prepend: "/assets/images/" | prepend: base_path}}" alt="{%if i.image_description %}{{i.image_description}}{%endif%}">
        {% endif %}

      </article>

    {% endfor %}

  {% endif %}
