{% include base_path %}
{% if page.tabsPanel %}

<div class="tabs">

  {% assign tabs = page.tabsPanel %}

  {% for t in tabs %}

    {% if t.id %}
      <input type="radio" name="tabs" id="{{t.id}}"
      {% if t.id == 'tabone' %}
      checked="checked"
      {% endif %}
      >
      <label id="{{t.id}}" for="{{t.id}}" role="button" class="btn  btn--tabs"
      >
        {{ t.tab_btn }}
      </label>
    {% endif %}

    <div class="tab">

      {% if t.header %}
        <h4 class="tab__header">
          {{ t.header }}
        </h4>
      {% endif %}

      {% if t.image_path %}
        <svg class="icon  icon--tabs  icon--{{ t.image_path }}">
          <use xlink:href="#icon-{{ t.image_path }}" />
        </svg>
      {% endif %}

      {% if t.description %}<h5> {{ t.description }} </h5> {% endif %}

      {% if t.p %}<p> {{ t.p }} </p> {% endif %}

      {% if t.small %}<small> {{ i.small }} </small> {% endif %}

      {% if t.list %}
        <ul class="tab__list">
          {% for list in t.list %}
            {% if list.item %}
              <li>
                {% if t.image_path %}
                  <svg class="icon  icon--ok">
                    <use xlink:href="#icon-ok" />
                  </svg>
                {% endif %}

                {{ list.item }}

              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      {% if t.small %}
        <small>{{ t.small }}</small>
      {% endif %}
    </div>
  {% endfor %}

</div>

{% endif %}
