---
layout: default
author: true
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<main class="main" role="main">

    <meta itemprop="description" content="{{ page.excerpt | strip_html }}">

    <header class="container page-header  page-header--about">

      {% if page.image.icon_bg %}
      <svg class="icon  icon--bg  icon--{{ page.image.icon_bg}}"><use xlink:href="#icon-{{ page.image.icon_bg}}" /></svg>
      {% endif %}

      {% if page.image.feature %}
      <img src="{{ site.url }}/assets/images/{{ page.image.feature}}" alt="{{ site.url }}/assets/images/{{ page.image.feature}}" />
      {% endif %}

      <h1 class="page-title" itemprop="headline">
        {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>

      {% include page-excerpt.html %}

      {% include breadcrumbs.html %}

    </header>

    <article class="Content" itemprop="text">
      {{ content }}
    </article>

    {% include components/tabs_panel.html %}

  {% if page.author != false %}
    {% include components/author.html %}
  {% endif %}

</main>

{% include colophon.html %}
