---
layout: default
author: true
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div class="main" role="main">

  <header class="page-header  page-header--{% if page.feature.category == 'work' %}work{% elsif page.feature.category == 'articles' %}articles{% endif %}">

    {% if page.image.feature %}
    <img src="{{ site.url }}/assets/images/{{ page.image.feature}}" alt="{{ site.url }}/assets/images/{{ page.image.feature}}" />
    {% endif %}

    {% if page.image.icon_bg %}
    <svg class="icon  icon--bg  icon--{{ page.image.icon_bg}}"><use xlink:href="#icon-{{ page.image.icon_bg}}" /></svg>
    {% endif %}

    <h1 class="page-title">{{ page.title }}</h1>

    {% include page-excerpt.html %}

    {% include breadcrumbs.html %}

  </header>

  {% if page.feature.visible == true %}
    {% include featured.html %}
  {% endif %}

  {% if page.layout == 'archive' %}
    <section class="archive">
      {{ content }}
    </section>
  {% else %}
  <section class="Content">
    {{ content }}
  </section>
  {% endif %}


  {% if page.introText %}
  <aside>
    {% include intro-text.html %}
  </aside>
  {% endif %}

  {% if page.tiles == true %}
  {% include archive__tiles.html %}
  {% endif %}

  {% if page.author != false %}
    {% include components/author.html %}
  {% endif %}

</div>

{% include colophon.html %}
