---
layout: default
author: true
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div class="main" role="main">

  <header class="page-header">

    {% if page.image.icon_bg %}
    <svg class="icon  icon--bg  icon--{{ page.image.icon_bg}}"><use xlink:href="#icon-{{ page.image.icon_bg}}" /></svg>
    {% endif %}

    <h1 class="page-title">{{ page.title }}</h1>

    {% if page.excerpt %}
      <h2 class="page-excerpt">
        {{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}
      </h2>
    {% endif %}

    {% include breadcrumbs.html %}

  </header>

  {% if page.feature.visible == true %}
    {% include featured.html %}
  {% endif %}

  <div class="Content">
    {{ content }}
  </div>

  {% if page.introText %}
  <aside>
    {% include intro-text.html %}
  </aside>
  {% endif %}

  {% if page.tiles == true %}
  {% include archive__tiles.html %}
  {% endif %}

  {% if page.author != false %}
  <footer class="post__footer">
    {% include post__author.html %}
  </footer>
  {% endif %}

</div>

{% include colophon.html %}
