---
layout: default
author: true
sidebar: false
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<main class="main" role="main">

  <meta itemprop="description" content="{{ page.excerpt | strip_html }}">

  <header class="page-header page-header--single">

    <h1 class="page-title" itemprop="headline">
      {{ page.title }}
    </h1>

    {% include page-excerpt.html %}

    {% if page.image.feature %}
    <img src="{{ site.url }}/assets/images/{{ page.image.feature}}" alt="{{ site.url }}/assets/images/{{ page.image.feature}}" />
    {% endif %}

    {% if page.image.icon_bg %}
    <svg class="icon  icon--bg  icon--{{ page.image.icon_bg}}"><use xlink:href="#icon-{{ page.image.icon_bg}}" /></svg>
    {% endif %}

    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date_to_xmlschema }}">{% endif %}
    {% include breadcrumbs.html %}

  </header>

  {% if page.feature.visible == true %}
    {% include featured.html %}
  {% endif %}

  <article class="Content" itemprop="text">
    {{ content }}
    {% include post__comments.html %}
  </article>

  {% include page__pagination.html %}

  {% if page.introText %}
  <aside>
    {% include intro-text.html %}
  </aside>
  {% endif %}

  {% include post__social.html %}

  {% if page.path contains '_posts' and page.tags %}
  <aside class="post__taxonomy">
    {% include post__taxonomy.html %}
  </aside>
  {% endif %}

  {% if page.author != false %}
    {% include components/author.html %}
  {% endif %}

  {% if page.path contains '_posts' and site.related_posts.size >= 2 %}
    {% include related.html %}
  {% endif %}

</main>


{% include colophon.html %}
