---
layout: default
author: true
sidebar: false
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<main class="main" role="main">

  <section itemscope itemtype="http://schema.org/CreativeWork">

    <meta itemprop="description" content="{{ page.excerpt | strip_html }}">

    <header class="container page-header"
    {% if page.image.feature %}style="background-image: url('{{ site.url }}/assets/images/{{ page.image.feature }}');"{% endif %}
    >

      <h1 class="page-title" itemprop="headline">
        {{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>

      {% if page.excerpt %}
        <h2 class="page-excerpt">
          {{ page.excerpt }}
        </h2>
      {% endif %}

      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
      {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date_to_xmlschema }}">{% endif %}
      {% include breadcrumbs.html %}

    </header>

    {% if page.feature.visible == true %}
      {% include featured.html %}
    {% endif %}

      <article class="Content" itemprop="text">
        {{ content }}
        {% include post__comments.html %}
      </article>

      {% if page.introText %}
      <aside>
        {% include intro-text.html %}
      </aside>
      {% endif %}

      {% include post__social.html %}

      {% if page.path contains '_posts' and page.tags %}
      <aside class="post__taxonomy">
        {% include post__taxonomy.html %}
      </aside>
      {% endif %}


  </section>

  {% if page.author != false %}
  <footer class="post__footer">
    {% include post__author.html %}
  </footer>
  {% endif %}

  {% if page.path contains '_posts' and site.related_posts.size >= 2 %}
    {% include related.html %}
  {% endif %}

</main>


{% include colophon.html %}
