---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<main class="main  main--home" role="main">

  <section itemscope itemtype="http://schema.org/CreativeWork">

    <header class="page-header  page-header--home">

      {% if page.image.icon_bg %}
      <svg class="icon  icon--bg  icon--{{ page.image.icon_bg}}"><use xlink:href="#icon-{{ page.image.icon_bg}}" /></svg>
      {% endif %}

      <h1 class="page-title">{{ page.title }}</h1>
      <h2 class="page-excerpt">{{ page.excerpt }}</h2>

    </header>

    <main itemprop="text">
      {% include components/tabs_panel.html %}
      {{ content }}
      {% include feature_row %}
    </main>

    {% if page.introText %}
    <aside data-aos="scroll-out">
      {% include components/intro-text.html %}
    </aside>
    {% endif %}

    {% if page.author != false %}
    <footer class="post__footer">
      {% include post__author.html %}
    </footer>
    {% endif %}

    <!-- <video playsinline autoplay muted loop poster="{{ site.url }}/assets/images/bg-hago.svg" class="video">
      <source src="{{ site.url }}/assets/images/video_bg1.webm" type="video/webm">
      <source src="{{ site.url }}/assets/images/video_bg1.mp4" type="video/mp4">
    </video> -->

    {% include colophon.html %}

  </section>


</main>
