---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<main class="main  main--home" role="main">

  <section itemscope itemtype="http://schema.org/CreativeWork">

    <main itemprop="text">
      {{ content }}
    </main>

    <!-- <video playsinline autoplay muted loop poster="{{ site.url }}/assets/images/bg-hago.svg" class="video">
      <source src="{{ site.url }}/assets/images/video_bg1.webm" type="video/webm">
      <source src="{{ site.url }}/assets/images/video_bg1.mp4" type="video/mp4">
    </video> -->

    {% include colophon.html %}

  </section>


</main>
