---
layout: default
---

{% include masthead.html %}
{% include browser-upgrade.html %}

<div class="main styleguide" role="main">

  <header class="container  page-header  page-header--styleguide">

    <h1>{{ page.title }}</h1>

    {% if page.excerpt %}
      <h2>
        {{ page.excerpt }}
      </h2>
    {% endif %}

  </header>

  <section>
    {{ content }}
  </section>

  {% if page.author != false %}
  <footer class="post__footer">
    {% include post__author.html %}
  </footer>
  {% endif %}

</div>

{% include colophon.html %}
