/* ===================
   ARCHIVE
   ===== */

.archive {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
}

.archive__item {
  min-height: 300px;
  flex: 1;
  flex-basis: 375px;
  background-repeat: no-repeat;
  // background-position: -200px 100px;
  background-size: cover;
  margin-top: $spacing-unit*1.5;
  margin-bottom: $spacing-unit*1.5;

  &:last-child {
    margin-bottom: $spacing-unit*3;
  }
  @media screen and (min-width: 768px) {
    background-position: 100px center;
    // background-size: contain;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    // &:first-child {
    //   background-position: 50px center;
    //   // flex-grow: 1;
    //   // flex-basis: 100%;
    // }
    // &:nth-last-child(6) {
    //   flex-grow: 0;
    //   flex-basis: 30%;
    // }
    // &:nth-last-child(5) {
    //   background-position: 0 center;
    // }
    // &:nth-last-child(4) {
    //   flex: 1 400px;
    // }
    // &:nth-last-child(3) {
    //   flex: 0 50%;
    // }
    // &:nth-last-child(2) {
    //   flex: 0 50%;
    // }
    &:last-child {
      flex: 0 47%;
    }
  }
  @media screen and (min-width: 1439px) {
    &:nth-last-child(4) {
      // flex: 0 47%;
    }
    &:nth-last-child(3) {
      // flex: 0 47%;
    }
  }

}

.archive__item-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  align-items: flex-start;
  // color: $white;
  padding: $spacing-unit * 3;
  @extend %angle;
  text-align: left;


  &:hover {
    .archive__item-title,
    .archive__item-excerpt {
      background-color: darken($color_alt7,15);
    }
    .icon--next {
      transition: stroke-width .2s linear;
      stroke: darken($color_alt5,15);
      stroke-width: 5px;
    }
  }
}

.archive__item-teaser {
  min-height: 350px;
  margin-top: 0;
  flex: 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;

  @media screen and (max-width: 1014px) {
    flex-grow: 1;
    // background-position: top;
  }

  img {
    width: 100%;
  }
}

.archive__item-title,
.archive__item-excerpt {
  display: inline;
  background-color: $color_alt7;
}
.archive__item-title {
  // flex: 1 100%;
  // text-transform: uppercase;
  font-size: fs(big);
  margin-top: 0;
  margin-right: $spacing-unit;
  margin-bottom: 0;
  font-weight: bold;
  line-height: $line-height-base - 0.5;

  @media screen and (min-width: 756px) {
    // font-size: fs(big);
    // max-width: 700px;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(x-normal);
  }
}

.archive__item-meta {
  margin-top: 0.5em;
  text-transform: uppercase;
  color: $text-color;
}

.archive__item-time {

  &:before {
    content: "";
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.archive__item-excerpt {
  margin-top: $spacing-unit / 4;
  margin-bottom: $spacing-unit / 2;
  font-size: fs(normal);
  line-height: $line-height-base - 0.4;
}

.archive__item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
