// Font AUX
.IntroText {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 0;
  padding: ($base_spacing) $base_spacing * 2;
  min-height: 300px;

  &__title {
    flex: 1 100%;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin: $spacing-unit 0;

    @media screen and (min-width: 756px) {
      // font-size: fs(colosal);
    }
  }
  &__subtitle {
    // margin-bottom: $spacing-unit;
    margin-top: 0;
    // font-size: fs(x-normal);
    max-width: 700px;
    line-height: 1.3;
    text-align: center;
  }

  // a {
  //   // flex: 0 100%;
  //   // max-width: 100px;
  // }

  small {
    // @extend %altfont_angle; //fuente alternativa + angulo
    // font-size: fs(small);
    // letter-spacing: 3px;
    line-height: 1.3;
    max-width: 150px;

    @media screen and (min-width: 1439px) {
      max-width: 700px;
      // font-size: fs(big);
    }
    @media screen and (min-width: 1439px) {
      // font-size: fs(huge);
    }
  }

  dt {
    // @extend %altfont_angle; //fuente alternativa + angulo
    text-transform: uppercase;
    line-height: 1.25;
    font-size: fs(x-normal);
  }

  dd {
    margin-left: $spacing-unit;

    @media screen and (min-width: 1400px) {
      font-size: fs(big);
    }
    @media screen and (min-width: 1440px) {
      font-size: fs(huge);
    }
  }
  dl {
    // @extend %altfont_angle; //fuente alternativa + angulo
  }
  p {
    text-align: center;
    line-height: 1.2;
    font-size: fs(normal);
    margin-bottom: $spacing-unit;
    flex: 1 100%;

    @media screen and (min-width: 1023px) {
      // max-width: 500px;
    }
    @media screen and (min-width: 1439px) {
      // max-width: 800px;
    }
  }

  img {
    min-width: 100px;
  }
}
