.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: $spacing-unit;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-bottom: $spacing-unit;
  max-width: 400px;

  @media screen and (min-width: 425px) {
    max-width: 550px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 720px;
  }

  li {
    font-size: fs(normal);
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;

    @media screen and (min-width: 1441px) {
      // font-size: fs(normal);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
