/**
 * Tabs
 */
.tabs {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; // make sure it wraps
  justify-content: center;
  position: relative;

  @media screen and (min-width: 376px) {
    margin-top: $base_spacing * 2;
  }
}
.tabs label {
  order: 1; // Put the labels first
  display: block;
  cursor: pointer;
  background-color: $color_alpha_black2;
  transition: background ease 0.2s;
  text-transform: uppercase;
  &:nth-last-child(2) {
    margin-right: 0;
  }

  &:hover {
    background-color: mix($color_alt2,$color_alt,70%);
  }
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: $base_spacing;
  // background-color: $color_alt2;
}
// .tabs input {
//   margin-bottom: 0;
// }
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0; // fixed Safari bug "width"
}
.tabs input[type="radio"]:checked + label {
  background-color: $color_alt2;
  color: $black;
  &:hover {
    cursor: inherit;
  }
}
.tabs input[type="radio"]:checked + label + .tab {
    display: flex;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__header {
    flex: 1;
  }
  &__list {
    margin-top: 0;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;

    li {
      padding-right: $spacing-unit / 2;
    }
  }
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 1px;
  }
}
