.TabsPanel {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: $spacing-unit;
  width: 100%;
  background-color: $color_alt7;
  min-width: 240px;

  input[name="tab-control"] { display: none; }

  ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: $color_alpha_black;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        user-select: none;
      }
    }

  }

  ul li label svg {
    fill: lighten($color_alt7,10);
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }

  ul li label:hover,
  ul li label:focus,
  ul li label:active {
    outline: 0;
    color: $color_page_header;
  }

  ul li label:hover svg,
  ul li label:focus svg,
  ul li label:active svg {
    fill: $color_page_header;
  }

  .slider--tabs {
    position: relative;
    width: 50%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }

  .slider--tabs .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0;
    height: 4px;
    background: $black;
  }

  .content {

    margin-top: 30px;

    section h2,
    ul li label {
      font-weight: bold;
      font-size: 18px;
      color: $color_alt5;
    }

    section {
      display: none;
      animation-name: content;
      animation-direction: normal;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      line-height: 1.4;
    }

    section h2 {
      display: none;
    }

    section h2::after {
      content: "";
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background: $color_alt5;
      margin-top: 5px;
      left: 1px;
    }

  }

  input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
  input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
  input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
  input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: $black;
  }

  input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg,
  input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg,
  input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg,
  input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
    fill: $color_alt5;
  }


  input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1),
  input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2),
  input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3),
  input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block;
  }

  input[name="tab-control"]:nth-of-type(1):checked ~ .slider--tabs {transform: translateX(0%);}
  input[name="tab-control"]:nth-of-type(2):checked ~ .slider--tabs {transform: translateX(100%);}
  input[name="tab-control"]:nth-of-type(3):checked ~ .slider--tabs {transform: translateX(200%);}
  input[name="tab-control"]:nth-of-type(4):checked ~ .slider--tabs {transform: translateX(300%);}

  @media (max-width: 600px) {
    input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label,
    input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
    input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
    input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }


  @media (max-width: 1000px) {
    ul li label { white-space: initial; }
    ul li label br { display: initial; }
    ul li label svg { height: 1.5em; }
  }

  @media (max-width: 600px) {

    ul li label {
      padding: 5px;
      border-radius: 5px;
    }

    ul li label span {
      display: none;
    }

    .slider--tabs {
      display: none;
    }

    .content {
      margin-top: 20px;

      section h2 {
        display: block;
      }
    }

  }

}
