/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: $spacing-unit;
  // padding-bottom: $spacing-unit;

  /* hover state */
  &:hover {
    background-color: $color-cool;

    .archive__item-title,
    .archive__item-excerpt {
      // color: $white;
    }

    .archive__item-title {
      // text-decoration: underline;
    }

    .archive__item-thumb {
      // width: 100px;
      // background-size: cover;
      // box-shadow: 0 0 10px rgba(#000, 0.5);
    }
  }
}

.archive__item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 500px;
  padding: $spacing-unit;
  align-self: center;

  @media screen and (min-width: 768px) {
    // flex-direction: row;
  }
}

.archive__item-teaser {
  min-height: 350px;
  margin-top: 0;
  flex: 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;

  @media screen and (max-width: 1014px) {
    flex-grow: 1;
    // background-position: top;
  }

  img {
    width: 100%;
  }
}

.archive__item-title {
  @extend %altfont_angle; //fuente alternativa + angulo
  padding-top: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: $line-height-base - 0.60;
  letter-spacing: 4px;
  font-size: fs(big);

  @media screen and (min-width: 756px) {
    font-size: fs(huge);
    line-height: $line-height-base - 0.70;
    max-width: 700px;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(x-huge);
    line-height: $line-height-base - 0.80;
  }
}

.archive__item-meta {
  margin-top: 0.5em;
  text-transform: uppercase;
  color: $text-color;
}

.archive__item-time {

  &:before {
    content: "";
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.archive__item-excerpt {
  @extend %altfont_angle; //fuente alternativa + angulo
  font-size: fs(normal);
  text-align: center;
  margin-top: 10px;
  padding: 0;
  letter-spacing: 4px;
  max-width: 700px;
}

.archive__item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // border-radius: $border-radius;
}
