.author {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;

  &__name {
    font-size: fs(huge);
    margin-top: -70px;
    flex: 0;
    @extend %altfont_angle; //fuente alternativa + angulo
    a:hover {
      text-decoration: underline;
    }

    @media screen and (min-width: 1430px) {
      font-size: fs(x-huge);
      // line-height: $line-height-base - 0.15;
    }
  }

  &__bio {
    @extend %altfont_angle; //fuente alternativa + angulo
    flex: 1 100%;
    max-width: 800px;
    text-align: center;
    font-size: fs(normal);
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &__avatar {
    display: block;
    flex-shrink: 0;
    order: -1;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}
