/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

/*
   Breakpoint-Sass
   ========================================================================== */

@include breakpoint-set('to ems', true);


body {
  margin: 0;
  padding: 0;
  color: $text-color;
  // font-family: $serif;

  font-family: $font_main;
  font-style: normal;
  // letter-spacing: 1px;
  line-height: 1.8;
  // font-weight: 400;
  // &.overflow--hidden {
  //   /* when primary navigation is visible, the content in the background won't scroll */
  //   overflow: hidden;
  // }
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;

  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* Abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* Links */

a {
  text-decoration: none;
  // color: blue;

  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    // text-decoration: none;
    color: $color_alt5;
    outline: 0;
  }
}

/* Lists */

ol, ul {

  @include breakpoint($small) {
    // padding-left: 0;

    ol, ul {
      padding: 0.5em $spacing-unit;
    }
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
  font-size: inherit;
}

pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}

p code,
li code,
figcaption code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: darken($lighter-gray,4);
  // border: 1px solid darken($light-gray,1);
  border-radius: $border-radius;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; // non-breaking space
  }
}

/* Horizontal rule */

hr {
  display: block;
  margin: $spacing-unit 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  margin: 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    // margin-bottom: $spacing-unit;
  }

  img {
    // transition: box-shadow 0.3s;
  }

  > a {
    display: block;

    /* image hover animation */
    &:hover {

      img {
        // box-shadow: 0 0 10px rgba($black, 0.20);
        opacity: .8;
      }
    }
  }
}

/* Figure captions */

figcaption {
  margin-top: 5px;
  margin-bottom: $spacing-unit;
  margin-left: auto;
  margin-right: auto;
  // font-size: fs(small);
  line-height: $line-height-base;
  @extend %altfont_angle;
  letter-spacing: 3px;
  max-width: 250px;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    transition: border 0.4s ease-in-out;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }

  code {
    font-size: 0.64rem;
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

/**
 * Removes margins, padding, and bullet points from navigation lists
 *
 * Example usage:
 * <nav>
 *    <ul>
 *      <li><a href="#link-1">Link 1</a></li>
 *      <li><a href="#link-2">Link 2</a></li>
 *      <li><a href="#link-3">Link 3</a></li>
 *    </ul>
 *  </nav>
 */

nav {

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}


/* Blockquotes */

blockquote {
  // margin-left: 10%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  color: $color_alt5;
  font-weight: bold;
  border-top: 1px solid $color-cool;
  border-bottom: 1px solid $color-cool;
  margin-bottom: $spacing-unit * 2;

  > p {
    max-width: 400px;
    margin-bottom: $spacing-unit !important;
  }

  a {
    color: inherit;
  }

  cite {
    font-size: 0.8rem;
    font-style: normal;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

.fluid-width-video-wrapper {
  max-width: 1024px;
  align-self: center;
}
/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item, .archive__item-thumb, .archive__item-body, .palette__swatch {
  transition: $global-transition;
}
