/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================== */

.btn {
  font-size: fs(normal);
  display: inline-block;
  margin: 0;
  padding: ($spacing-unit / 2) 8px;
  background-color: transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: $color_alt5;
  border: none;

  &:active {
    // move button slightly on click
    transform: translateY(1px);
  }

  &:hover {
    transition: padding .3s ease-in-out;

    @media screen and (min-width: 375px) {
      cursor: pointer;
    }
  }

  &--tabs {
    text-transform: uppercase;
    font-size: fs(x-normal);
    font-weight: normal;
  }

  &--tile {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: fs(normal);
  }
  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */
  &--inverse {
    color: #000 !important;
    background-color: #fff;

    &:hover {
      background-color: mix(#000, #fff, 20%);
    }
  }

  &--step {
  }

  &--default {
    // position: relative;
    display: flex;
    justify-content: center;
    // align-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
    // padding-bottom: 0;
    // padding-right: 0;
    background-color: $color_alt7;
    // text-align: center;
    border: none;
    transition: color 1s ease-out;
    margin-top: $spacing-unit / 2;
    // line-height: 5;
    text-transform: uppercase;

    &:hover {
      color: $black;
      border: none;
      // background-color: transparent;
    }
  }

  /* light outline */
  &--light-outline {
    border: 1px solid #fff !important; // override
    background-color: transparent;
  }

  /* information */
  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */
  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */
  &--success {
    // background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */
  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */
  $social:
  (facebook, $facebook-color),
  (linkedin, $linkedin-color),
  (youtube, $youtube-color),
  (twitter, $twitter-color);

  @each $socialnetwork, $color in $social {

    &--#{$socialnetwork} {
      background-color: $color;
      transform: rotate(0);
      padding: 10px 12px;
      border-bottom: none;
      font-family: $font_main;
      // font-size: fs(small);
      color: $white;

      &:hover {
        padding: 10px 12px;
        border-bottom: none;
        color: $white;
        background-color: mix(#000, $color, 20%);
      }
    }
  }
}
