/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   =========================================== */

.btn {
  font-size: fs(small) + 0.4;
  display: inline-block;
  margin: 0;
  padding: ($spacing-unit / 2) 8px;
  background-color: transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: $color_alt5;
  border: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  &:active {
    // move button slightly on click
    transform: translateY(1px);
  }

  &:hover {
    transition: all .3s ease-in-out;

    @media screen and (min-width: 375px) {
      cursor: pointer;
    }
  }

  &--archive {
    // background-color: $color_alpha_white;
    color: $black;
    display: flex;


    &:hover {
      color: $white;
      background-color: darken($color-archive,5);
    }
  }
  &--tabs {
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: $spacing-unit /  2;
    padding-right: $spacing-unit /  2;
    margin-right: $spacing-unit /  3;
    font-weight: normal;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      color: $black;
    }
  }

  &--tile {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: fs(normal);
  }
  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */
  &--inverse {
    color: #000 !important;
    background-color: #fff;

    &:hover {
      background-color: mix(#000, #fff, 20%);
    }
  }

  &--step {
  }

  &--default {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
    background-color: $color_alt7;
    border: none;
    transition: color 1s ease-out;
    margin-top: $spacing-unit / 2;
    text-transform: uppercase;

    &:hover {
      color: $black;
      border: none;
    }
  }

  /* light outline */
  &--light-outline {
    border: 1px solid #fff !important; // override
    background-color: transparent;
  }

  /* information */
  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */
  &--warning {
    color: $white;
    background-color: $warning-color;

    &:hover {
      color: $black;
      background-color: $color_alpha_white;
    }
  }

  /* success */
  &--success {
    // background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */
  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */
  $social:
  (facebook, $facebook-color),
  (linkedin, $linkedin-color),
  (youtube, $youtube-color),
  (twitter, $twitter-color);

  @each $socialnetwork, $color in $social {

    &--#{$socialnetwork} {
      background-color: $color;
      padding: 11px;
      text-transform: uppercase;
      color: $white;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }
}
