/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: ($spacing-unit/1.5) ($spacing-unit);
  color: $black;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  border: 1px solid $black;
  // border: 0 !important;
  // border-radius: $border-radius;
  cursor: pointer;
  // background-color: $color_alt;

  &:active {
    // move button slightly on click
    transform: translateY(1px);
  }

  &:hover {
    color: $black;
    background-color: $color-cool;
    border-color: $color-cool; 
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; // override for hidden text
  }

  &--tile {
    // position: absolute;
    // background-color: $color_alt2;
    // flex-basis: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    // min-width: 100px;
    border-radius: 50%;
    font-size: fs(normal);
  }
  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */
  &--inverse {
    color: #000 !important;
    background-color: #fff;

    &:hover {
      background-color: mix(#000, #fff, 20%);
    }
  }

  /* light outline */
  &--light-outline {
    border: 1px solid #fff !important; // override
    background-color: transparent;
  }

  /* information */
  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */
  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */
  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */
  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */
  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color);

  @each $socialnetwork, $color in $social {

    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }
}
