/* ==========================================================================
   FEATURES / SERVICES Ideal for cover, homepages...
   ========================================================================== */

.feature {

  &__wrapper {

    margin-top: $spacing-unit * 2;

    @media screen and (min-width: 375px) {
      flex-wrap: nowrap;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    // min-height: 100vh;
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 600px;
    margin-top: $spacing-unit;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    margin-bottom: 100px;

    // &:nth-child(2) {}

    @media screen and (min-width: 475px) {
      // background-size: contain;
      flex: 1;
    }
    @media screen and (min-width: 769px) {
      background-attachment: fixed;
    }
  }

}
