/*
   Icons
   ========================================================================== */

.icon {
  // position: absolute;
  fill: none;
  width: $spacing-unit*2;
  height: $spacing-unit*2;
  line-height: 1;
  position: relative;
  top: 0;
  vertical-align: middle;
  stroke-width: 1px;
  stroke: $black;
  // -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
  // perspective: 150px;

  &--ok {
    width: 15px;
    height: 20px;
    stroke: $color_alt8;
    stroke-width: 2px;
  }

  &--prev,
  &--next {
    width: 40px;
    height: 40px;
    stroke: $white;
    stroke-width: 2px;
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
  }

  &--arrow-next,
  &--arrow-prev {
    width: 20px;
    height: 20px;
    transition-property: transform, stroke-width;
    transition-duration: .5s;
    stroke-width: 4px;
    stroke: $color_alt2;
    &:hover {
      stroke-width: 8px;
      transform: translateX(8px);
    }
  }

  &--tabs {
    stroke: $color_alt8;
    stroke-width: 2px;
    width: 100px;
    height: 100px;
    align-self: center;
  }

  &.spin {
    animation: spin 2s infinite linear;
  }

  &--mountain {
    // fill: none;
    animation-name: blur;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  &--matrioska {
    fill: none;
    // transform: perspective( 20px );
    transform: rotateZ(13deg);
    // rotate3d(1, 2, -1, 100deg);
    transform-origin: bottom;
    animation-name: balanceo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    .masthead--sticky & {
      padding: 5px 0;
    }
  }
  &--cor {
    fill: none;
    animation-name: latido;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  &--todh-grafico {
    fill: none;
    animation-name: spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &--logo {
    transform-origin: 75% center;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &--logo-todh {
    stroke: $white;
    width: 150px;
    height: 150px;
  }
  &--anim-sentir {
    animation-name: anim;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  &--button {
    width: 150px;
    height: 60px;
    // position: absolute;
    // left: -10px;
    top: 10px;
  }

  // iconos dentro de header (funcionan como bg)
  &--bg {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    stroke: $color_alpha_black;
    filter: blur(3px);
  }

  &--todh {
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--linkedin {
    color: $linkedin-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--flickr {
    color: $flickr-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--instagram {
    color: $instagram-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--youtube {
    color: $youtube-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--twitter {
    color: $twitter-color;
    fill: none;
    stroke: $white;
    stroke-width: 1px;
    width: 20px;
    height: 20px;
  }

  &--tumblr {
    color: $tumblr-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--facebook {
    color: $facebook-color;
    fill: none;
    stroke-width: 1px;
    width: 20px;
    height: 20px;
    stroke: $white;
  }

  &--codepen {
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--github {
    color: $github-color;
    fill: none;
    width: 100%;
    height: 100%;
  }
}
