/*
   Icons
   ========================================================================== */

.icon {
  position: absolute;
  fill: none;
  width: $spacing-unit*2;
  height: $spacing-unit*2;
  line-height: 1;
  position: relative;
  top: 0;
  vertical-align: middle;
  stroke-width: 1px;
  stroke: $black;

  &.spin {
    animation: spin 2s infinite linear;
  }

  &--mountain {
    fill: none;
  }
  &--cor {}
  &--logo {}
  &--logo-todh {}
  &--button {
    width: 150px;
    height: 60px;
    position: absolute;
    left: -10px;
    top: 10px;
  }

  // iconos dentro de header (funcionan como bg)
  &--bg {
    position: absolute;
    height: 100%;
    width: 100%;
    stroke: $white;
    animation-name: efecto-stroke-dashoffset;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &--arrow-next {
    &:hover {
      stroke-width: 2px;
    }
  }

  &--todh {
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--linkedin {
    color: $linkedin-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--flickr {
    color: $flickr-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--instagram {
    color: $instagram-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--youtube {
    color: $youtube-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--twitter {
    color: $twitter-color;
    fill: none;
    stroke: $white;
    stroke-width: 1px;
    width: 20px;
    height: 20px;
  }

  &--tumblr {
    color: $tumblr-color;
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--facebook {
    color: $facebook-color;
    fill: none;
    stroke-width: 1px;
    width: 20px;
    height: 20px;
    stroke: $white;
  }

  &--codepen {
    fill: none;
    width: 100%;
    height: 100%;
  }

  &--github {
    color: $github-color;
    fill: none;
    width: 100%;
    height: 100%;
  }
}
