/* ===================================================
   MASTHEAD
   =========================================== */

.masthead {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-duration: .2s;
  transition-timing-function: linear;

  @media screen and (min-width: 374px) {
    justify-content: space-between;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  @media (min-width: $small) {
    height: $masthead-height;
  }
  @media (min-width: $small) {
    height: 100px;
  }

  &--sticky {
    height: 50px;
    transition-property: height;
    transition-duration: 0;
    transition-timing-function: linear;
    background-color: $white;
    // box-shadow: 0px 3px 52px 13px rgba($black,.01);
    // background-color: lighten($color_alt7,10);
  }

  .overlay__menu-trigger {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;

    &:before {
      display: none;
    }

    &:hover {
      background-color: $light-gray;
    }
  }
}

.masthead__menu-wrapper {
  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.masthead__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  a:not(.active) {
    cursor: default;
    color: $black;
    &:hover {
      // background-color: $color-cool;
      // color: red;
    }
  }

  .is--hidden {

    @media (max-width: $medium-wide) {
      display: none;
    }
  }
}

.masthead__title {
  display: none;

  @include breakpoint($small) {
    display: block;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 0.8rem;
    text-transform: uppercase;
  }
}

.masthead__menu-item {
  display: block;
  padding: 13px 13px;
  text-transform: uppercase;
  font-size: fs(small) + 0.4;
  line-height: 1.2;

  &.active {
    color: $color_alt5 !important;

    &:hover {
      color: $black !important;
      background-color: $color_alt4;
    }
  }

  @media (min-width: $small) {
    padding: 6px 10px;
    letter-spacing: 5px;
    // line-height: 0.8rem;
    // height: $masthead-height;
  }

  @include breakpoint($small) {
    margin-left: 30px;
    margin-right: 0;
  }
}

.overlay__menu-item {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($medium) {
    width: 50%;
  }

  a {
    display: flex;
    align-items: flex-start;
  }

  .menu-thumb {
    display: block;
    width: 100px;
    height: 60px;
    order: -1;
    margin-right: 1em;

    img {
      width: 100px;
      height: 60px;
      border-radius: $border-radius;
    }
  }

  .menu-text {
    flex: 1;
  }

  .menu-title {
    font-size: 1.563rem;
    line-height: 1.563rem;
  }

  .menu-excerpt {
    font-size: 0.8rem;
  }
}

.overlay__menu-item--secondary {
  display: block;
  padding-right: 0.5em;
  font-size: 1.563rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($small) {
    width: 50%;
  }

  @include breakpoint($large) {
    line-height: 1.953rem;
  }
}

.overlay__menu-label {
  margin: 30px 0 15px;
  width: 100%;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.25;
  text-transform: uppercase;
  /* lines in headline */
  display: flex;
  flex-direction: row;

  &:after {
    content: '\a0';
    position: relative;
    top: 0.4rem;
    height: 4px;
    background: $light-gray;
    flex-grow: 1;
  }

  &:before {
    margin-right: 10px;
  }

  &:after {
    margin-left: 10px;
  }
}

.overlay__menu-close {
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
  // font-family: $monospace;
  text-transform: uppercase;
  border-radius: 0;

  &:active {
    transform: translateY(0); // override from default btn class
  }
}
