/* ====
   MASTHEAD
   ==== */

.masthead {
  top: 0;
  left: 0;
  width: 100vw;
  height: 75px;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-duration: .2s;
  transition-timing-function: linear;
  background-color: $white;

  @media screen and (min-width: 374px) {
    justify-content: space-between;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  @media screen and (min-width: 426px) {
    height: 100px;
  }

  &--sticky {
    position: fixed;
    height: 50px;
    transition-property: height;
    transition-duration: .1;
    transition-timing-function: linear;
  }

}

.masthead__menu-wrapper {
  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.masthead__menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  a:not(.active) {
    cursor: default;
    color: $black;
    border-bottom: 2px solid $color_alt8;
    &:hover {
      // background-color: $color-cool;
      // color: red;
    }
  }

  .is--hidden {

    @media (max-width: $medium-wide) {
      display: none;
    }
  }
}

.masthead__title {
  display: none;
}

.masthead__menu-item {
  display: block;
  padding: 13px 13px;
  text-transform: uppercase;
  font-size: fs(small) + 0.4;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 10px;
  padding-bottom: 8px;

  &.active {
    color: $color_alt5 !important;

    &:hover {
      color: $black !important;
      background-color: $color_alt4;
    }
  }

  @media (min-width: $small) {
    border-bottom-color: transparent;
    // padding: 6px 10px;
    // letter-spacing: 3px;
    // line-height: 0.8rem;
    // height: $masthead-height;
  }

  @include breakpoint($small) {
    margin-left: 30px;
    margin-right: 0;
  }
}
