/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.main {
  overflow-x: hidden;
  padding-top: $spacing-unit*2;

  &--home {
    // background-image: url('/assets/images/bg-pincel2.jpg');
    // background-size: contain;
    // background-position: right 50px;
    // background-repeat: no-repeat;

    @media screen and (min-width: 376px) {
      background-size: 75%;
      background-position: right 0;
      flex: 1 500px;
      background-attachment: fixed;
    }
    @media screen and (min-width: 1024px) {
      // background-position: right 100px;
      flex: 1 500px;
    }
  }
}

.page-header {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  background-color: $color-cool;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  color: $color_page_header;

  @media screen and (min-width: 767px) {
    height: 55vh;
  }
  @media screen and (min-width: 1024px) {
    min-height: 45vh;
  }

  &--about {
    // background-image: url('../images/bg-pincel.jpg');
    // background-size: 500px;
    // background-position: right;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
  }
  &--home {
    // min-height: 50vh;
    // @media screen and (min-width: 1024px) {
    //   min-height: 45vh;
    // }
    // background-image: url('../images/bg-pincel.jpg');
    // background-size: 500px;
    // background-position: right;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
  }
}

.page-title {
  flex: 1 100%;
  text-align: center;
  padding-top: 0;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-top: 0;
  margin-bottom: $spacing-unit;
  @extend %altfont_angle;
  font-size: fs(x-big);
  letter-spacing: 3px;
  line-height: $line-height-base - 0.70;

  @media screen and (min-width: 550px) {
    margin-bottom: $spacing-unit / 3;
    // font-size: fs(x-huge);
    margin-left: $spacing-unit*2;
    margin-right: $spacing-unit*2;
    letter-spacing: 5px;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(x-huge);
    line-height: $line-height-base - 0.8;
  }
}

.page-excerpt {
  letter-spacing: 3px;
  font-size: fs(normal);
  text-align: center;
  margin-top: 0;
  @extend %altfont_angle; //fuente alternativa + angulo

  @media screen and (min-width: 550px) {
    margin-top: $spacing-unit / 2;
    font-size: fs(big);
    line-height: $line-height-base - 0.20;
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit * 2;
  }
  @media screen and (min-width: 756px) {
    font-size: fs(big);
    line-height: $line-height-base - 0.30;
    // max-width: 600px;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(huge);
    max-width: 850px;
    line-height: $line-height-base - 0.5kb;
  }
}


/*
   Content
   ========================================================================== */

.Content {
  @media screen and (min-width: 767px) {
    // display: flex;
    // flex-wrap: wrap;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    margin-bottom: $spacing-unit;
    max-width: 685px; // keep measure at a readable length
    font-size: fs(normal);
    // letter-spacing: 1px;

    @media screen and (min-width: 426px) {
      // text-align: justify;
      font-size: fs(x-normal);
      max-width: 750px; // keep measure at a readable length
    }
    @media screen and (min-width: 1000px) {
      max-width: 800px; // keep measure at a readable length
    }
    @media screen and (min-width: 1430px) {
      max-width: 920px; // keep measure at a readable length
      font-size: fs(big);
      // line-height: $line-height-base - 0.15;
    }
    @media screen and (min-width: 1441px) {
      max-width: 1300px; // keep measure at a readable length
    }
  }

  /* introductory paragraph */
  > p:first-child {
    margin-top: $spacing-unit;

    @include breakpoint($medium) {}
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: $spacing-unit*2;
    margin-bottom: $spacing-unit*2;

    a {
      color: $headline-color;
    }
  }

  /* cleaner underlines for links */
  p > a {
    color: $info-color;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }

  ul {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 688px; // keep measure at a readable length
    }
    @media screen and (min-width: 1000px) {
      max-width: 783px; // keep measure at a readable length
    }
  }
  li {
    padding-left: 0;
    margin-bottom: $spacing-unit /2;
    line-height: 1.7;
    font-size: fs(normal);
    // letter-spacing: 1px;
    list-style: outside;

    @media screen and (min-width: 768px) {
      font-size: fs(x-normal);
    }
    @media screen and (min-width: 768px) {
      font-size: fs(x-normal);
    }
    @media screen and (min-width: 1000px) {
    }
    @media screen and (min-width: 1430px) {
      font-size: fs(big);
    }

  }

  li > a,
  td > a,
  small a {
    color: $color_alt5;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: $text-color;
    }
  }

  ul, ol {

    li + li {
      margin-top: 0.5em;
    }
  }

  figure {
    margin-bottom: $spacing-unit * 4;
    // margin-top: $spacing-unit * 2;

    @media screen and (min-width: 375px) {
      margin-bottom: $spacing-unit;
    }
  }

}

.post__inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

/* header */

.post__header {
  background-color: red;
}

.post__title {
  flex: 1 100%;
  text-align: center;
  margin-bottom: $spacing-unit / 3;
}

.post__excerpt {
  padding-bottom: $spacing-unit;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  // order: 4;

  > a {
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

/* footer */
.post__footer {
  margin-top: 2em;
  // order: 2;
}


/* social */
.post__social {
  display: flex;
  justify-content: center;
  // flex-direction: column;

  a {
    &.btn {
      // font-size: fs(small);
      color: $white !important;
    }
  }

  .btn {
    // width: 100%;
  }

  @include breakpoint($small) {
    flex-direction: row;
    justify-content: center;

    .btn {

      &:first-child {
        // margin-right: 4px;
      }

      &:last-child {
        // margin-left: 4px;
      }
    }
  }
}

/* taxonomy */
.post__taxonomy {
  // margin-top: 2em;
  // order: 1;
  font-size: fs(normal);
  color: $gray;
  text-align: center;
}

.post__taxonomy-item {
  color: $black;
  // font-weight: bold;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.last-updated {
  font-size: fs(normal) !important;
  color: $gray;
  @media screen and (min-width: 1430px) {
  }
}

/* tag boxes */
.tag__item {
  display: block;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: bold;
  white-space: nowrap;
  border-bottom-width: 0 !important; // override

  &:hover {
    text-decoration: underline;
  }
}

.tag__name {
  float: left;
  padding-right: 0.125em;
  font-weight: normal;
  font-family: $serif;
  color: $link-color;
  background: $background-color;
}

.tag__count {
  float: right;
  padding-left: 0.125em;
  color: $link-color;
  background: $background-color;
}

.tag__list {
  margin: 0;
  padding: 0;
  column-gap: 3em;

  @include breakpoint($small) {
    column-count: 2;
    column-width: 150px;
  }

  @include breakpoint($medium) {
    column-count: 3;
  }

  li {
    list-style-type: none;

    @include breakpoint($medium) {
    }
  }

  li + li {
    margin-top: 0 !important; // override
  }

  .tag__item {
    @include clearfix();
    padding-bottom: 4px;
    overflow: hidden;

    &:before {
      float: left;
      width: 0;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      white-space: nowrap;
      color: $gray;
    }
  }
}


/*
   Comments
   ========================================================================== */

.post__comments {
  order: 3;
}

#disqus_thread iframe {
  margin-top: 2em;
}

.post__comments-form {
  padding: 1em;
  background: $form-background ;
  border: 1px solid $form-border-color;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }

  .js-notice {
  }
}

.comment {
  @include clearfix();
  display: flex;
  margin: 1em 0;
  flex: 4;
  align-items: flex-start;

  &:not(:last-child) {
    border-bottom: 2px solid #e2e2e2;
  }

  /* cleaner underlines */
  p > a {
    color: $info-color;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

.comment__avatar-wrapper {
  margin-right: 1em;
  flex-shrink: 0;
}

.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  margin: 0;
  font-family: $sans-serif;
  text-transform: uppercase;
  color: $gray;

  a {
    text-decoration: none;
  }
}



/*
   Sidebar
   ========================================================================== */

.post__sidebar {
  width: 100%;

  figure {
    margin-top: 10px;
  }

  @include breakpoint($medium-wide) {
    margin-left: 80px;
    width: 160px;
  }

  @media (min-width: 1025px) {
    margin-left: 80px;
    width: 300px;
  }

  .js-toc {

    @media (max-width: 1025px) {
      display: none !important; // override
    }
  }
}

/* ads */
.ad--sidebar {
  margin: 0 0 2em;
  text-align: center;

  @media (max-width: 320px) {
    position: relative;
    left: -15px;
  }

  @media (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }
}
