/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.main {
  // padding-bottom: 100px;
  // background-color: $white;

  &--home {

    @media screen and (min-width: 426px) {
      background-size: 75%;
      background-position: right 0;
      flex: 1 500px;
      background-attachment: fixed;
    }
    @media screen and (min-width: 1024px) {
      flex: 1 500px;
    }
  }
}

.page-header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: $spacing-unit;
  background-size: cover;
  background-position: center -200px;
  background-repeat: no-repeat;
  z-index: 10;

  @media screen and (min-width: 500px) {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    margin-bottom: 0;
  }
  @media (min-width: 775px) and (orientation: landscape) {
    min-height: 100vh;
  }
  @media screen and (min-width: 500px) {
    align-content: space-around;
    align-items: center;
  }

  &:before {
    content: "";
    z-index: -1;
    background-color: rgba($white,.7);
    mix-blend-mode: luminosity; // color; soft-light  color-dodge  color-burn  multiply  screen  luminosity
    position: absolute;
    top: 0;
  }

  img {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    @media (max-width: 775px) and (orientation: landscape) {
      bottom: -14px;
    }
    @media screen and (min-width: $colosal) {
      max-width: 875px;
      bottom: 35%;
      left: 30%;
    }
  }

  ul {
    margin-top: $spacing-unit;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-transform: none;
    letter-spacing: 1px;

    li {
      @media screen and (min-width: 1437px) {
        font-size: fs(normal);
      }
    }
  }

  &--work {
    // background-image: linear-gradient(-135deg, #FFD0B8 0%, $color-archive 100%);
  }
  &--articles {
    // background-image: linear-gradient(-135deg, $color-cool2 0%, #DEAA90 100%);
  }
  &--single { //header para single pages
    // color: $color_alt8;
    // background-image: linear-gradient(-135deg, $color_alt7 0%, #DEAA90 100%);
    // align-content: flex-end;
    // color: $black;
  }
  &--about {
    // background-image: linear-gradient(-135deg, $color_alpha_black2 0%, $white 100%);
  }
  &--home {
    background-position: center bottom;
    // background-image: linear-gradient(-135deg, $color_alt7 0%, $color_alt2 100%);
  }
}

.page-title {
  flex: 1 100%;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-size: fs(huge);
  line-height: 1;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-duration: .4s;

  @media (min-width: $medium) and (orientation: portrait) {
    font-size: 8rem;
    transform: rotate(-2deg);
  }
  @media (max-width: $medium) and (orientation: landscape) {
    font-size: fs(x-huge);
    margin-top: $spacing-unit*5;
    margin-bottom: $spacing-unit;
    color: $color_alt7;
  }
  @media screen and (min-width: $large) {
    min-width: 1000px;
    font-size: fs(x-huge) + 2;
    // line-height: 1;
  }
  @media screen and (min-width: $x-large) {
    min-width: 1200px;
    margin-left: $spacing-unit*2;
    margin-right: $spacing-unit*2;
    font-size: 10rem;
  }
  @media screen and (min-width: $colosal) {
    min-width: 2500px;
  }

  p {
    text-transform: none;
    letter-spacing: 1px;
  }
}

.page-excerpt {
  @extend %angle;
  margin-top: 0;
  flex: 1 100%;

  span {
    display: inline;
    background-color: $color_alt7;
    padding-right: 5px;
  }
  @media screen and (min-width: 550px) {
    margin-right: 0;
    max-width: 400px;
  }
  @media (min-width: 767px) and (orientation: portrait) {
    margin-top: -450px;
  }
  @media screen and (min-width: $x-large) {
    max-width: 600px;
    line-height: $line-height-base - 0.5;
    margin-left: 600px;
  }
  @media screen and (min-width: $colosal) {
    max-width: 875px;
    margin-left: 400px;
  }
}


/*
   Content
   ========================================================================== */

.Content {

  // @media screen and (min-width: 767px) {
    // display: flex;
    // flex-wrap: wrap;
  // }

  blockquote {
    p {
      font-size: fs(x-normal);
      @media screen and (min-width: $colosal) {
        font-size: fs(x-big);
      }
    }
  }

  p {
    margin-bottom: $spacing-unit*2;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    // font-size: fs(normal);
    color: $dark-gray;
    z-index: 100;

    @media screen and (min-width: 1430px) {
      // max-width: 920px; // keep measure at a readable length
      // font-size: fs(big);
      // line-height: $line-height-base - 0.15;
    }
    @media screen and (min-width: 1441px) {
      // max-width: 1300px; // keep measure at a readable length
    }
  }

  /* introductory paragraph */
  > p:first-child {
    margin-top: $spacing-unit*2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {

    @media screen and (min-width: 426px) {
      max-width: 750px; // keep measure at a readable length
      // text-align: justify;
      // font-size: fs(x-normal);
      // max-width: 750px; // keep measure at a readable length
    }
    @media screen and (min-width: 1000px) {
      // max-width: 800px; // keep measure at a readable length
    }
    @media screen and (min-width: 1430px) {
      // max-width: 920px; // keep measure at a readable length
      // font-size: fs(big);
      // line-height: $line-height-base - 0.15;
    }
    @media screen and (min-width: 1441px) {
      max-width: 1300px; // keep measure at a readable length
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // text-align: center;
    // margin-top: $spacing-unit*2;
    margin-bottom: $spacing-unit/2;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    a {
      color: $headline-color;
    }
  }

  /* cleaner underlines for links */
  p > a {
    color: $info-color;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }

  ul {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 688px; // keep measure at a readable length
    }
    @media screen and (min-width: 1000px) {
      max-width: 783px; // keep measure at a readable length
    }
  }
  li {
    padding-left: 0;
    margin-bottom: $spacing-unit /2;
    line-height: 1.7;
    font-size: fs(normal);
    // letter-spacing: 1px;
    list-style: outside;

    @media screen and (min-width: 768px) {
      // font-size: fs(x-normal);
    }
    @media screen and (min-width: 1000px) {
    }
    @media screen and (min-width: 1430px) {
      font-size: fs(big);
    }

  }

  li > a,
  td > a,
  small a {
    color: $color_alt5;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: $text-color;
    }
  }

  ul, ol {

    li + li {
      margin-top: 0.5em;
    }
  }

  figure {
    margin-bottom: $spacing-unit;
    // margin-top: $spacing-unit * 2;

    @media screen and (min-width: 375px) {
      // margin-bottom: $spacing-unit;
    }
  }

}

.post__inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

/* header */

.post__header {
  background-color: red;
}

.post__title {
  flex: 1 100%;
  text-align: center;
  margin-bottom: $spacing-unit / 3;
}

.post__excerpt {
  padding-bottom: $spacing-unit;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  // order: 4;

  > a {
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

/* footer */
.post__footer {
  text-align: center;
  // order: 2;
}


/* social */
.post__social {
  text-align: center;
  margin-bottom: $spacing-unit;

  a {
    &.btn {
      font-size: fs(normal);
      font-weight: normal;
      color: $white !important;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn {
    // width: 100%;
  }

  @include breakpoint($small) {
    flex-direction: row;
    justify-content: center;

    .btn {

      &:first-child {
        // margin-right: 4px;
      }

      &:last-child {
        // margin-left: 4px;
      }
    }
  }
}

/* taxonomy */
.post__taxonomy {
  // margin-top: 2em;
  // order: 1;
  font-size: fs(normal);
  color: $gray;
  text-align: center;
}

.post__taxonomy-item {
  color: $color_links;
  // color: red !important;
  // font-weight: bold;
  white-space: nowrap;

  // &:visited {
  //   text-decoration: underline;
  // }
  &:hover {
    color: $black;
  }
}

.last-updated {
  font-size: fs(normal) !important;
  color: $gray;
  @media screen and (min-width: 1430px) {
  }
}

/* tag boxes */
.tag__item {
  display: block;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: bold;
  white-space: nowrap;
  border-bottom-width: 0 !important; // override

  &:hover {
    text-decoration: underline;
  }
}

.tag__name {
  float: left;
  padding-right: 0.125em;
  font-weight: normal;
  color: $link-color;
  background: $background-color;
}

.tag__count {
  float: right;
  padding-left: 0.125em;
  color: $link-color;
  background: $background-color;
}

.tag__list {
  margin: 0;
  padding: 0;
  column-gap: 3em;

  @include breakpoint($small) {
    column-count: 2;
    column-width: 150px;
  }

  @include breakpoint($medium) {
    column-count: 3;
  }

  li {
    list-style-type: none;

    @include breakpoint($medium) {
    }
  }

  li + li {
    margin-top: 0 !important; // override
  }

  .tag__item {
    @include clearfix();
    padding-bottom: 4px;
    overflow: hidden;

    &:before {
      float: left;
      width: 0;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      white-space: nowrap;
      color: $gray;
    }
  }
}


/*
   Comments
   ========================================================================== */

.post__comments {
  order: 3;
}

#disqus_thread iframe {
  margin-top: 2em;
}

.post__comments-form {
  padding: 1em;
  background: $form-background ;
  border: 1px solid $form-border-color;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }

  .js-notice {
  }
}

.comment {
  @include clearfix();
  display: flex;
  margin: 1em 0;
  flex: 4;
  align-items: flex-start;

  &:not(:last-child) {
    border-bottom: 2px solid #e2e2e2;
  }

  /* cleaner underlines */
  p > a {
    color: $info-color;
    border-bottom: 1px solid $link-underline-color;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

.comment__avatar-wrapper {
  margin-right: 1em;
  flex-shrink: 0;
}

.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  margin: 0;
  font-family: $sans-serif;
  text-transform: uppercase;
  color: $gray;

  a {
    text-decoration: none;
  }
}



/*
   Sidebar
   ========================================================================== */

.post__sidebar {
  width: 100%;

  figure {
    margin-top: 10px;
  }

  @include breakpoint($medium-wide) {
    margin-left: 80px;
    width: 160px;
  }

  @media (min-width: 1025px) {
    margin-left: 80px;
    width: 300px;
  }

  .js-toc {

    @media (max-width: 1025px) {
      display: none !important; // override
    }
  }
}

/* ads */
.ad--sidebar {
  margin: 0 0 2em;
  text-align: center;

  @media (max-width: 320px) {
    position: relative;
    left: -15px;
  }

  @media (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }
}
