.slider {
  background-color: $color-cool;
  padding-top: $spacing-unit;
  padding-right: $spacing-unit * 4;
  padding-left: $spacing-unit * 4;
  padding-bottom: $spacing-unit;
  margin: 0;
  border-top-left-radius: $spacing-unit;
  border-top-right-radius: $spacing-unit;
  border-bottom-left-radius: $spacing-unit;

  &-wrap {
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    text-align: center;
    flex: 1 100%;
    @extend %angle; //fuente alternativa + angulo
  }

  // li {
  //   padding-left: $spacing-unit * 2;
  //   padding-right: $spacing-unit * 2;
  // }

  .slick-list {
    font-size: fs(normal);
  }
  .slick-track {
    text-align: center;
  }

  .slick-arrow {
    background-color: darken($color-cool, 10);
    font-size: fs(normal);
  }

  // .slick-current {
  //   background-color: red;
  //   padding: 0 ($spacing-unit * 2);
  // }
  .slick-prev {
    left: 0;
    display: none !important;
  }
  .slick-next {
    right: 0;
    text-transform: uppercase;
    padding: $spacing-unit / 2;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    bottom: 0;
    border: none;
    color: $black;
  }
}
