/* ==========================================================================
   TILES
   ========================================================================== */

.tile__header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  font-size: fs(normal);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: inherit;
  text-align: center;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (min-width: $small) {
    flex-direction: row;
  }
}

.tile__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  flex: 1 300px;

  &:before {
    content: "";
    position: absolute;
    display: block;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white,.7);
    mix-blend-mode: luminosity; // color; soft-light  color-dodge  color-burn  multiply  screen  luminosity
  }

  figcaption {
    margin-top: 0;
    max-width: 100%;
    z-index: 100;
    position: absolute;
  }
  img {
    align-self: flex-start;
  }

  &:hover {

    // background-color: $color-cool;
    img {
      // box-shadow: 0 0 10px rgba(#000, 0.5);
    }

    .tile__title {}
  }
}

.tile__category {
  display: block;
  text-align: center;
}

.tile__item-time {}

.tile__title {
  color: $black;
  line-height: $line-height-base - 0.20;
  // @extend %altfont_angle;
  text-transform: none;
  margin-top: 0;
  padding: 0 $spacing-unit;
  font-size: fs(x-normal);
  flex: 0 100%;
  text-align: center;
  padding-bottom: $spacing-unit;

  @media (min-width: $small) {
    &:hover {
      color: $color_alt5;
    }

  }
}
