// Tipografia
@function fs($font-size) {
  @return map-get($size-vars, $font-size) * 1rem;
}

$size-vars: (
  "x-small"  :    .5,
  "small"    :    .7,
  "normal"   :    1.2,
  "x-normal" :    1.35,
  "big"      :    1.8,
  "x-big"    :    2.5,
  "huge"     :    3,
  "x-huge"   :    4,
  "colosal"  :    5
);

p {
  @media screen and (min-width: $colosal) {
    font-size: fs(x-big);
  }
}
small {
  font-size: fs(small);
}

input,
textarea {
  font-size: fs(normal);
}

h1 {
  line-height: $line-height-base - 0.9;
  // @extend %altfont_angle;
  // font-family: $font_alt;
  font-size: fs(big);

  @media screen and (min-width: 425px) {
    max-width: 700px;
  }
  @media screen and (min-width: 767px) {
    font-size: fs(x-big);
    max-width: 900px;
  }
  @media screen and (min-width: 1430px) {
    max-width: 1024px;
  }
}

h2 {
  font-size: fs(big);
  line-height: $line-height-base - 0.3;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 425px) {
    max-width: 500px;
  }
  @media screen and (min-width: 767px) {
    max-width: 700px;
  }
  @media screen and (min-width: $x-large) {
    font-size: fs(x-big)+1;
  }
  @media screen and (min-width: $colosal) {
    font-size: fs(x-big)+2;
  }
}

h3 {
  font-size: fs(x-normal);
  line-height: $line-height-base - 0.10;
  margin-left: auto;
  margin-right: auto;
  font-weight: inherit;

  @media screen and (min-width: 425px) {
    max-width: 500px;
  }
  @media screen and (min-width: 550px) {
    margin-bottom: -5px;
    font-size: fs(big);
    line-height: $line-height-base - 0.3;
  }
  @media screen and (min-width: 756px) {}
  @media screen and (min-width: 1430px) {
    font-size: fs(huge);
    line-height: $line-height-base - 0.15;
  }
}

h4 {
  font-size: fs(normal);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  line-height: $line-height-base;

  @media screen and (min-width: 1430px) {
    font-size: fs(x-normal);
  }
}

h5 {
  font-size: fs(x-normal);
  margin-left: auto;
  margin-right: auto;
  line-height: $line-height-base - 0.3;

  @media screen and (min-width: $medium) {
    font-size: fs(big);
    // line-height: $line-height-base;
  }
  @media screen and (min-width: $x-large) {
    font-size: fs(big);
    // line-height: $line-height-base - 0.15;
  }
}

h1,
h2 {
  font-weight: normal;

  @media screen and (min-width: 550px) {
    // max-width: 900px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // text-transform: uppercase;
  // font-family: $font_alt;
  // text-transform: uppercase;
  font-weight: bold;
}

figure,
figcaption {
  font-size: fs(small);
  text-align: center;
  @media screen and (min-width: 1441px) {
    font-size: fs(normal);
  }
}

dd,
dt,
li {
  font-size: fs(normal);
  line-height: $line-height-base;

  @media screen and (min-width: 550px) {
    // font-size: fs(normal);
    line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 756px) {
    line-height: $line-height-base;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(big);
    line-height: $line-height-base - 0.15;
  }
}

section,
header {
  font-size: fs(small);
  line-height: $line-height-base;

  @media screen and (min-width: 550px) {
    // letter-spacing: 1px;
    font-size: fs(normal);
    line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 756px) {
    line-height: $line-height-base;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(big);
    line-height: $line-height-base - 0.15;
  }
}
