// Tipografia
@function fs($font-size) {
  @return map-get($size-vars, $font-size) * 1rem;
}

$size-vars: (
  "x-small"  :    .5,
  "small"    :    .7,
  "normal"   :    1,
  "x-normal" :    1.35,
  "big"      :    1.8,
  "x-big"    :    2.5,
  "huge"     :    3,
  "x-huge"   :    4,
  "colosal"  :    5
);


small {
  font-size: fs(x-small);
}

input,
textarea {
  font-size: fs(normal);
}

h1 {
  // letter-spacing: 0;
  // font-family: $font_alt;
  @media screen and (min-width: 1430px) {
    // letter-spacing: -1px;
    // max-width: 1200px;
  }
}

h2 {
  font-size: fs(big);
  line-height: $line-height-base;
  @extend %altfont_angle;
  letter-spacing: 3px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 425px) {
    max-width: 400px;
    // line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 767px) {
    // font-size: fs(huge);
    max-width: 700px;
    // line-height: $line-height-base - 0.3;
  }
  @media screen and (min-width: 1430px) {
    // font-size: fs(huge);
    max-width: 850px;
    // line-height: $line-height-base - 0.3;
  }
}

h3 {
  font-size: fs(x-normal);
  line-height: $line-height-base - 0.50;
  @extend %altfont_angle;
  letter-spacing: 3px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 0;

  @media screen and (min-width: 425px) {
    max-width: 500px;
    // line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 550px) {
    margin-bottom: -5px;
    font-size: fs(big);
    line-height: $line-height-base - 0.3;
  }
  @media screen and (min-width: 756px) {
    line-height: $line-height-base - 0.5;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(huge);
    line-height: $line-height-base - 0.15;
  }
}

h4 {
  font-size: fs(normal);
  line-height: $line-height-base - 0.50;
  @extend %altfont_angle;
  letter-spacing: 3px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;

  @media screen and (min-width: 550px) {
    font-size: fs(big);
    line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 756px) {
    line-height: $line-height-base;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(huge);
    line-height: $line-height-base - 0.15;
  }
}

h1,
h2 {
  font-weight: normal;
  // max-width: 700px;
  line-height: $line-height-base - 0.30;

  @media screen and (min-width: 550px) {
    // max-width: 900px;
  }
  // @media screen and (min-width: 756px) {}
  @media screen and (min-width: 1430px) {
    // max-width: 1200px;
    // background-color: red;
  }
}


figure,
figcaption {
  font-size: fs(small);
  text-align: center;
  @media screen and (min-width: 1441px) {
    font-size: fs(normal);
  }
}

dd,
dt,
li {
  font-size: fs(small);
  line-height: $line-height-base;

  @media screen and (min-width: 550px) {
    font-size: fs(normal);
    line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 756px) {
    // font-size: fs(big);
    line-height: $line-height-base;
  }
  @media screen and (min-width: 1430px) {
    font-size: fs(big);
    line-height: $line-height-base - 0.15;
  }
}

p,
section,
header {
  font-size: fs(small);
  line-height: $line-height-base;

  @media screen and (min-width: 550px) {
    font-size: fs(normal);
    line-height: $line-height-base + 0.15;
  }
  @media screen and (min-width: 756px) {
    font-size: fs(big);
    line-height: $line-height-base;
  }
  @media screen and (min-width: 1430px) {
    line-height: $line-height-base - 0.15;
  }
}
